.reader() {
  background-color: #fff;
  color: #222;
  text-align: left;
  h1 {
    // border-left: 3px solid var(--color-light-primary);
    background-color: var(--color-light-primary);
    color: #fff;
    padding-left: 10px;
    margin: 0 0 20px 0;
  }
  h2 {
    margin: 20px 0 5px 0;
  }
  /*demo block*/
  .hv-demo-block () {
    box-sizing: border-box;
    border: 1px solid #fff;
  }
  .hv-demo-block-m {
    height: 300px;
    .hv-demo-block();
  }
  .hv-demo-block-l {
    height: 500px;
    .hv-demo-block();
  }
}